// Colors

$white: #ffffff;
$blue: #001A66;
$grey: #f9f9f9;
$darkGrey: #717171;

// Typography

$textSizeXLarge: 75px;
$textSizeLarge: 57px;
$textSizeMedium: 40px;
$textSizeSmall: 18px;
$textSizeXSmall: 14px;
$textSizeXXSmall: 12px;

$primaryFont: 'Palanquin', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
$thinFontWeight: 300;
$regularFontWeight: 400;
$boldFontWeight: 700;

// Baseline Sizes

$baseline: 20px;
$quarterBaseline: $baseline * 0.25;
$halfBaseline: $baseline * 0.5;
$doubleBaseline: $baseline * 2;
$tripleBaseline: $baseline * 3;
$quadrupleBaseline: $baseline * 4;